<div class="col-md-3">
  <div class="card">
    <div class="card-body">
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | img_url:'medium' }}" width="100%" alt="{{ product.title }}">
      </a>
    </div>
    <div class="card-footer">
        {% render 'price' product:product %}
      <a href="{{ product.url }}">{{ product.title }}</a>
    </div>
    <div class="action">
      <a href="{{ product.url }}" class="btn btn-success">Add to card</a>
    </div>
  </div>
</div>
