<h1>{{ 'customer.account.title' | t }}</h1>

<div class="customer-account">
  <div class="container">
    <div class="header-area my-5">
      <div class="row justify-content-between">
        <div class="col">
          <h3>Wellcome {{ customer.name }}</h3>
        </div>  
        <div class="col" style="text-align: right">
          <a href="{{ routes.account_logout_url }}">Logout</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9">
        {% if customer.orders.size > 0 %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Payment status</th>
                <th scope="col">Fulfillment status</th>
                <th scope="col">Total amount</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
              <tr>
                <td>
                  <a href="{{ order.customer_url }}">{{ order.name }}</a>
                </td>
                <td>{{ order.created_at | time_tag: format: 'date' }}</td>
                <td>{{ order.financial_status_label }}</td>
                <td>{{ order.fulfillment_status_label }}</td>
                <td>{{ order.total_net_amount | money_with_currency }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="text-center py-5">
            <p>You don't have any orders!</p>
          </div>
        {% endif %}
      </div>
      <div class="col-lg-3 col-md-3">
        <h4>Address Info</h4>
        <div class="address">
          {{ customer.default_address | format_address }}
        </div>
        <div class="my-4">
          <a href="{{ routes.account_addresses_url }}">View addresses ({{ customer.addresses_count }})</a>
        </div>
      </div>
    </div>
  </div>
</div>
