<div class="customer-account">
  <div class="container">
    <div class="header-area my-5">
      <div class="row justify-content-between">
        <div class="col">
          <h2>Account</h2>
          <h3 class="mt-3">Order {{ order.name }}</h3>
          <p>Placed on {{ order.created_at | time_tag: format: 'date_at_time' }}</p>
          {% if order.cancelled %}
          <p class="text-danger">Cancelled on {{ order.cancelled_at | time_tag: format: 'date_at_titme' }}</p>
          <p>Reason: {{ order.cancel_reason_label }}</p>
          {% endif %}
        </div>
        <div class="col" style="text-align: right">
          <a href="{{ routes.account_logout_url }}">Logout</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9">
        <div class="order-details-area">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">SKU</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
              </tr>
            </thead>
            <tbody>
              {% for line_item in order.line_items %}
              <tr>
                <td scope="row">
                  {% if line_item.url != blank %}
                    <a href="{{ line_item.url }}">{{ line_item.title }}</a>
                  {% else %}
                  <p>{{ line_item.title | escape }}</p>
                  {% endif %}
                  {% unless line_item.product.has_only_default_variant %}
                    <p>{{ line_item.variant.title }}</p>
                  {% endunless %}
                  {% if line_item.fulfillment %}
                  <div class="fulfillment-status">
                    <p>Fulfillment on {{ line_item.fulfillment.created_at | time_tag: format: 'date' }}</p>
                  </div>
                  {% endif %}
                </td>
                <td>{{ line_item.sku }}</td>
                <td>
                  {% if line_item.original_price != line_item.final_price %}
                    <span class="original-price">
                      <del>{{ line_item.original_price | money }}</del>
                    </span>
                    <span class="sale-price">{{ line_item.final_price | money }}</span>
                  {% else %}
                    <span class="original-price">{{ line_item.final_price | money }}</span>
                  {% endif %}
                </td>
                <td>{{ line_item.quantity }}</td>
                <td>
                  {% if line_item.original_line_price != line_item.final_line_price %}
                    <span class="original-price">
                      <del>{{ line_item.original_line_price | money }}</del>
                    </span>
                    <span class="sale-price">{{ line_item.final_line_price | money }}</span>
                  {% else %}
                    <span class="original-price">{{ line_item.final_line_price | money }}</span>
                  {% endif %}
                </td>
              </tr>              
              {% endfor %}
            </tbody>
            
            <tfoot>
              <tr>
                <td colspan="4">Subtotal:</td>
                <td class="text-right"> {{ order.line_items_subtotal_price | money }} </td>
              </tr>
              {% for shipping_method in order.shipping_methods %}
              <tr>
                <td colspan="4">Shipping ({{ shipping_method.title }})</td>
                <td class="text-right"> {{ shipping_method.price | money }} </td>
              </tr>
              {% endfor %}
              {% for tax_line in order.tax_lines %}
              <tr>
                <td colspan="4">{{ tax_line.title }}({{ tax_line.rate }})</td>
                <td>{{ tax_line.price | money }}</td>
              </tr>
              {% endfor %}
              {% if order.total_refunded_amount > 0 %}
                <tr>
                  <td colspan="4">Total Refunded:</td>
                  <td>{{ order.total_refunded_amount | money }}</td>
                </tr>
              {% endif %}
              <tr>
                <td colspan="4">Total:</td>
                <td class="text-right"> {{ order.total_net_amount | money_with_currency }}</td>
              </tr>
            </tfoot>
            
          </table>
        </div>
      </div>
      
      <!-- Billing Address Start -->
      <div class="col-lg-3 col-md-3">
        <div class="address my-3">
          <h3>Billing Address</h3>
          <p>Payment status: <b>{{ order.financial_status_label }}</b></p>
          {{ order.billing_address | format_address }}
        </div>
        <div class="address">
          <h3>Shipping Address</h3>
          <p>Fulfillment status: <b>{{ order.fulfillment_status_label }}</b></p>
          {{ order.shipping_address | format_address }}
        </div>
      </div>
      <!-- Billing Address End -->
      
    </div>
  </div>
</div>